name: CI

on:
  push:
    branches:
      - master

jobs:
  check_wrapper:
    name: Validate Gradle Wrapper
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v3

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
          all_but_latest: true

  build:
    name: Build extension repo
    needs: check_wrapper
    runs-on: ubuntu-latest

    steps:
      - name: Checkout master branch
        uses: actions/checkout@v3
        with:
          ref: master
          path: master

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: adopt

      - name: Copy CI gradle.properties
        run: |
          cd master
          mkdir -p ~/.gradle
          cp .github/runner-files/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Build extensions and create repo artifacts
        uses: gradle/gradle-command-action@v2
        env:
          ALIAS: ${{ secrets.ALIAS }}
          KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        with:
#          gradle-version: 7.5
          build-root-directory: master
#          wrapper-directory: master
          arguments: build repo
#          wrapper-cache-enabled: true
#          dependencies-cache-enabled: true
#          configuration-cache-enabled: true

      - name: Sign APKs
        if: github.event_name == 'push' && github.repository == 'IReaderorg/IReader-extensions'
        run: |
          cd master
          ./.github/scripts/sign-apks.sh \
            ${{ secrets.SIGNING_KEY }} \
            ${{ secrets.ALIAS }} \
            ${{ secrets.KEY_STORE_PASSWORD }} \
            ${{ secrets.KEY_PASSWORD }}

      - name: Checkout repo branch
        if: github.event_name == 'push' && github.repository == 'IReaderorg/IReader-extensions'
        uses: actions/checkout@v3
        with:
          ref: repo
          path: repo

      - name: Deploy repo
        if: github.event_name == 'push' && github.repository == 'IReaderorg/IReader-extensions'
        run: |
          cd repo
          ../master/.github/scripts/commit-repo.sh
